body {
    background-image: url("https://i.redditmedia.com/KBsOsVRAuVWIe_qqA4kMvOr0Nq02KRXFblND4Y2TRvc.jpg?s=fd42074293de275a5c5f35337a9b3301");
}

.jumbotron {
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    font-family: cursive;
}

.table {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.form-group {
    color: white;
    font-size: 18px;
}

#display {
    background-color: rgb(245, 206, 170, .4);
}
